.timeline {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.tabs {
  height: 40px;
  border-bottom: 1px solid var(--lies);
}

.timeline .main-timeline {
  position: absolute;
  top: 0px;
  right: 20px;
  bottom: 0px;
  overflow: hidden;
}

.timeline .main-timeline .scroll-container {
  position: absolute;
  top: 80px;
  height: 168px;
  width: 3000px;
}

.timeline .progress-bar {
  position: absolute;
  top: 40px;
  right: 8px;
  height: 20px;
  border-radius: 2px;
  border: 1px solid var(--lies);
  z-index: 5;
  overflow: hidden;
}

.timeline .progress-bar::before,
.timeline .progress-bar::after {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 10px;
  background-color: var(--active);
  border-right: 1px solid var(--lies);
}

.timeline .progress-bar::after {
  left: auto;
  right: 0px;
  border-right: none;
  border-left: 1px solid var(--lies);
}

.timeline .progress-bar .progress {
  width: calc(33.33% - 22px);
  height: 100%;
  background-color: var(--active);
  margin-left: 11px;
  margin-right: 11px;
}

.timeline .layers-list {
  position: absolute;
  top: 80px;
  left: 0px;
  right: 0px;
}

.timeline .layers-list .layer {
  position: relative;
  height: 20px;
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-bottom: 1px;
}

.timeline .layers-list .layer .label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 12px;
}

.timeline .layers-list .layer.disabled .label {
  background-color: var(--lies);
}

.timeline .layers-list .layer .label .eye-button {
  margin-right: 12px;
  position: relative;
}

.timeline .layers-list .layer .label .eye-button button {
  height: 18px;
  width: 18px;
  background-color: transparent;
  border-radius: 4px;
  border: none;
}

.timeline .layers-list .layer .label .eye-button button.in-active::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  height: 20px;
  width: 1px;
  background-color: #fff;
}

.timeline .layers-list .layer .label .title {
  width: 260px;
  background-color: var(--main);
  z-index: 10;
  height: 21px;
  display: flex;
  align-items: center;
}

.timeline .layers-list .layer.layer.disabled .label .title {
  background-color: var(--lies);
}

.timeline .layers-list .layer .label .text {
  color: #fff;
  margin-left: 6px;
}

.timeline .layers-list .layer.disabled .label .text {
  color: rgb(143, 143, 143);
}

.timeline .layers-list .layer .label button {
  background-color: transparent;
  border: none;
}

.timeline .layers-list .layer .presenter {
  height: 20px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 8px;
  background-color: var(--lies);
}

.timeline .layers-list .layer .label .controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: calc(100% - 260px - 30px);
  overflow: hidden;
}

.timeline .layers-list .layer .label .controls .control-unit:not(:first-child) {
  margin-left: 8px;
}

.timeline .layers-list .layer .label .controls .form-unit {
  background-color: var(--lies);
  border: 1px solid var(--lies);
  color: #fff;
  font-size: 12px;
  width: 160px;
  height: 18px;
  outline: none;
}

.timeline .layers-list .layer.layer.disabled .label .controls .form-unit {
  color: rgb(143, 143, 143);
}

.timeline .layers-list .layer .label .controls .select {
  cursor: pointer;
}

.timeline .layers-list .layer .label .controls .input {
  padding: 0px 4px;
}
