.timeline {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.tabs {
  height: 40px;
  border-bottom: 1px solid var(--lies);
}

.timeline .main-timeline {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  overflow: hidden;
}
